<!--
  Author: csdoker
  CreateTime: 2017/12/25
  Tips: 页面公用——头部
 -->
<header class="header">
  <div class="container top">
    <a href="javascript:;" ui-sref="main" class="site-name">Rekodsc</a>
    <div class="site-menu">
      <a class="nav" ui-sref-active="current" ui-sref="main" href="javascript:;">首页</a>
      <a class="nav" ui-sref-active="current" ui-sref="about" href="javascript:;">关于</a>
    </div>
    <div class="site-search">
      <input type="text" placeholder="输入关键字">
      <i></i>
    </div>
  </div>
</header>
