<div class="post-list">
  <article class="post" ng-repeat="postListData in postListDatas">
    <a class="post-title" ui-sref="post({postid:postListData.postId})" ng-bind="postListData.postTitle"></a>
    <time class="post-meta" ng-bind="postListData.postDate"></time>
    <div class="post-content">
      <!-- 这一部分就是通过markdown渲染的文章 然后节选出来显示在列表 -->
      <p class="markdown-body" ng-bind-html="postListData.postContent"></p>
      <!-- -->
      <p class="more">
        <a ui-sref="post({postid:postListData.postId})" title="{{postListData.postTitle}}">- Read More -</a>
      </p>
    </div>
  </article>
</div>
