<article class="post">
  <a class="post-title">Node.js 中的 DES 加解密</a>
  <time class="post-meta">November 24, 2017</time>
  <div class="post-content">
    <!-- 这一部分就是通过markdown渲染的文章 -->
    <p>Node.js 自带强大的加密功能 Crypto，它是基于 OpenSSL 库实现的加密技术。
      DES 是一种对称加密算法，密匙长度必须是8的整数倍，在一些简单的应用场景经常被使用。</p>
    <p>为了网络上信息传输的安全（防止第三方窃取信息看到明文），发送发和接收方分别进行加密和解密，这样信息在网络上传输的时候就是相对安全的。</p>
    <p>DES 加密模式有： Electronic Codebook (ECB) , Cipher Block Chaining (CBC) , Cipher Feedback (CFB) , Output Feedback (OFB)。这里以密文分组链接模式 CBC 为例，使用了相同的 key 和 iv (Initialization Vector)</p>
    <!-- -->
  </div>
  <div app-post-tags></div>
</article>