<section class="post-recent">
  <h3 class="title">最新文章</h3>
  <ul class="list">
    <li>
      <a href="#">适用移动端的样式重置</a>
    </li>
    <li>
      <a href="#">三个月后看成果</a>
    </li>
    <li>
      <a href="#">命令行调用 IE 浏览器打开指定网址</a>
    </li>
    <li>
      <a href="#">Python 继承另一个类的实例</a>
    </li>
    <li>
      <a href="javascript:;">在 64 位系统下安装 32 位 electron</a>
    </li>
    <li>
      <a href="javascript:;">Linux 下安装 Python3</a>
    </li>
    <li>
      <a href="javascript:;">Node.js 中的 DES 加解密</a>
    </li>
    <li>
      <a href="javascript:;">Centos 安装 Node.js</a>
    </li>
    <li>
      <a href="javascript:;">微信 H5 支付流程以及一些坑</a>
    </li>
    <li>
      <a href="javascript:;">总结：如何减少开发 BUG</a>
    </li>
  </ul>
</section>
