.post-tag {
  margin: 32px 0;
  .title {
    font-weight: 200;
    color: #000;
    line-height: 1.35;
    font-size: 18px;
  }
  .content {
    margin-top: 16px;
    font-weight: 200;
    .tag-cloud  {
      font-family: "Helvetica", "Arial", sans-serif;
      font-size: 10px;
      line-height: normal;
      span.w10 { font-size: 550%; }
      span.w9 { font-size: 500%; }
      span.w8 { font-size: 450%; }
      span.w7 { font-size: 400%; }
      span.w6 { font-size: 350%; }
      span.w5 { font-size: 300%; }
      span.w4 { font-size: 250%; }
      span.w3 { font-size: 200%; }
      span.w2 { font-size: 150%; }
      span.w1 { font-size: 100%; }
      
      a:hover { color: #42b983; }
      span.w10 { color: #555; }
      span.w9 { color: #555; }
      span.w8 { color: #555; }
      span.w7 { color: #555; }
      span.w6 { color: #555; }
      span.w5 { color: #555; }
      span.w4 { color: #555; }
      span.w3 { color: #555; }
      span.w2 { color: #555; }
      span.w1 { color: #555; }
    }
  }
}
